[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/ajithr1
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ajithr1
	label-Verified = -1..+1 group user/ajithr1
	push = group user/ajithr1
	read = group user/ajithr1
	rebase = group user/ajithr1
	removeReviewer = group user/ajithr1
	submit = group user/ajithr1
[access "refs/heads/*"]
	create = group user/ajithr1
	push = +force group user/ajithr1
	pushMerge = group user/ajithr1
	read = group user/ajithr1
[access "refs/tags/*"]
	push = group user/ajithr1
	push = +force group user/ajithr1
